/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.indent {
  margin: 0% 8% 0% 8%;
  text-align: center;
}

.center-content {
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-border {
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-color: lightgray;
  background-color: rgb(255, 241, 244);
}

.center {
  text-align: center;
}

.picture-page-background {
  background: rgb(255, 254, 254);
}